* {
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(206, 126, 126);
    width: 20rem;
    margin: 0 auto;
    padding: 1rem;
}

.counter{
    text-align: center;
    background-color: black;
    color: white;
    width: 2rem;
    margin: 0 auto;
    padding: 4px 20px;
}

.btn-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5rem auto 1rem;
}

.btn {
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: black;
}

.main{
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}